{% extends 'layout.html' %}
{% load static %}
{% block content%}
<body style="background-color: gray;">
<!--header-->
<!--<div class="p-3 mb-2 bg-secondary text-white">-->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="" src="{% static 'image/web-bg.jpg' %}" alt="web-bg" width="100%" height="600">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
        <h1 style="font-family: 'Chonburi', cursive; padding:10px 5px">บ้านพักเคบิน</h1>
    </div>
</header>

<div class="w3-content" style="max-width:1100px">
    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img src="{% static 'image/cabin 6.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Table Setting"
                width="600" height="750">
        </div>

        <div class="w3-col m6 w3-padding-large" style="color:#555;">
            <h1 class="w3-center" style="font-size: 40px;"><b>อธิบายห้องพัก</b></h1><br>
            <h3 class="w3-center"></h3><p style="font-size:larger;text-align:justify">เรียบง่ายหรูหรา 
            ห้อง Cabin ของเราให้พื้นที่และความเป็นส่วนตัวที่คุณต้องการเพื่อทำงานหรือเล่นบนถนน 
            ห้องพักกว้างขวาง 340 ตารางฟุต มีพื้นที่ Lounge ที่เป็นส่วนตัว มีพื้นที่ทำงานสำหรับธุรกิจและวิวของลานภายใน 
            ห้อง Cabins ของเรามีสิ่งอำนวยความสะดวกครบครันหนังสือพิมพ์รายวันและน้ำดื่มบรรจุขวดอีกด้วย</p>
        </div>
    </div>

    <div class="w3-container w3-padding-8" id="contact">
        <h1 style = "color: white; font-size: 40px;">Gallery</h1><br>
        
    </div>

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <div class="w3-quarter">
            <img src="{% static 'image/cabin 1.jpg' %}" alt="cbi1" style="width:80%">

        </div>
        <div class="w3-quarter">
            <img src="{% static 'image/cabin 2.jpg' %}" alt="cbi2" style="width:100%">

        </div>
        <div class="w3-quarter">
            <img src="{% static 'image/cabin 3.jpg' %}" alt="cbi3" style="width:100%">


        </div>
        <div class="w3-quarter">
            <img src="{% static 'image/cabin 4.jpg' %}" alt="cbi4" style="width:100%">

        </div>
    </div>
    <!-- Amenities Section -->
    <div class="w3-container w3-padding-32 w3-center">
        <h3 style="color: gray; background-color: white; font-size: 40px;">สิ่งอำนวยความสะดวก</h3><br>
        <img src="{% static 'image/superior amen.jpg' %}" alt="std amen" class="w3-image" style="display:block;margin:auto" width="800"
            height="533">        
        <div class="w3-padding-32" style="color:#555">
            <h2>คุณสมบัติของห้อง</h2>
            <h3>จำนวนผู้เข้าพัก: 2</h3>
            <h3>ขนาดห้อง: 340 sq.ft</h3>
            <h3>ที่นอน: 1 King</h3>
        </div>
        <p><a href="/reserved" class="w3-button w3-black w3-section" type="submit" style="font-size: 30px; color: white">จองห้องพัก คลิ๊ก</a></p>
    </div>
</div>
</div>
</body>
{% endblock%}