{% extends 'layout.html' %}
{% load static %}
{% block content%}
<style>
    .list-group-item {
      background-color: black;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    h1 {
        color: white;
    }
    .input-group-text{
        background-color: black;
        color: white;
    }
</style>

<body style="background-color: gray;">
    <div class='container' style='width:80%'>
        <br>
        <form action='login' method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ชื่อผู้ใช้งาน</span>
                <input type="text" class="form-control" placeholder="" name ='user' aria-label="Phone" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">รหัสผ่าน&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" class="form-control" placeholder="" name ='password' aria-label="Phone" aria-describedby="basic-addon1">
            </div>
            <hr>
            <div style='text-align:right;'>
                <button type="submit" class="btn btn-primary">ตกลง</button>
            </div>  
        </form>
        <br>
    </div>

    {% if check == 0%}
        <br>
        <CENTER>
            <h1>ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง โปรดลองใหม่อีกครั้ง</h1>
        </CENTER> 
        </br> 
    {% endif %}
</body>
{% endblock%}

